<form hx-post="/settings/password" hx-swap="outerHTML" method="post" action="/settings/password">
    <label for="current_password">Current Password
        {% if current_password_message.len() == 0 %}
        <input type="password" id="current_password" name="current_password" placeholder="Enter current password" required>
        {% else %}
        <input type="password" id="current_password" name="current_password" placeholder="Enter current password" required aria-invalid="{% if current_password_is_success %}false{% else %}true{% endif %}">
        <small>{{current_password_message}}</small>
        {% endif %}
    </label>
    
    <label for="new_password">New Password
        {% if new_password_message.len() == 0 %}
        <input type="password" id="new_password" name="new_password" placeholder="Enter new password" required minlength="8" maxlength="60">
        {% else %}
        <input type="password" id="new_password" name="new_password" placeholder="Enter new password" required minlength="8" maxlength="60" aria-invalid="{% if new_password_is_success %}false{% else %}true{% endif %}">
        <small>{{new_password_message}}</small>
        {% endif %}
    </label>
    
    <button type="submit">Update Password</button>
</form>
